<div id="app-content">
  <indicator></indicator>
  <ion-view view-title="Recordatorios">
    <ion-content class="padding">
      <ion-list>
        <ion-item class="item item-icon-left" href="#/recordatorios/agregar">
          <i class="icon ion-plus-circled"></i>
          Agregar recordatorio
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="recordatorio in recordatorios" type="item-text-wrap" href="#/recordatorios/ver/{{ recordatorio.id }}">
          <img ng-src="img/icon_calendar.png">
          <h2>{{ recordatorio.titulo}} / {{recordatorio.materia.nombre }}</h2>
          <p>{{ recordatorio.fecha | date:'dd/MM/yyyy hh:mm a' }}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
</div>
