<div>
  <div class="content pages pages__login">
    <figure>
      <img src="img/logo.png" alt="Santoto">
    </figure>

    <form action="#">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Username" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" required>
        </label>
      </div>

      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          INGRESAR
        </button>
      </div>
    </form>
  </div>
</div>
